.movie-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}
.movie-parent-div {
  margin: 3.5%;
  height: 40vh;
  width: 90vw;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  gap: 1%;
}
.movie {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 10px;
  background-color: rgb(255, 254, 254);
  display: grid;
  gap: 1%;
  grid-template-rows: 2fr 1fr 1fr 1fr;
}
.movie-des {
  padding: 2%;
  /* background-color: blue; */
}
#movie-bookseat {
  border-radius: 10px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#movie-bookseat:hover {
  cursor: pointer;
}
