.whole-seat-div {
  font-family: "Electrolize", sans-serif;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 0.5%;
}
.seat-seat {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  flex-direction: column;
  flex-wrap: wrap;
}

.seat-seats-divs {
  background-color: rgb(208, 208, 208);
  margin: 0.7%;
  height: 17%;
  width: 4%;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
}
.seat-cart-wrap {
  /* background-color: gray; */
  height: 100%;
  width: 100%;
}
.seat-cart {
  background-color: rgb(187, 187, 187);
  height: 35%;
  width: 100%;
  font-family: inherit;
  margin-top: 10%;
  text-align: center;
  font-size: 2vw;
  color: black;
  border-radius: 4px;
}
.seat-cart p {
  font-size: 2vw;
}
.description {
  font-weight: bolder;
  font-size: 2vw;
}
.seat-description {
  color: black;
  line-height: 1vw;
  font-size: 1.4vw;
}
.confirm-btn {
  display: flex;
  color: white;
  font-family: inherit;
  width: 60%;
  background-color: black;
  height: 10vh;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.4vw;
  top: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.confirm-btn span {
  font-size: 1.5vw;
}
